mixin social()
	.social
		a(href='').social__item
			img(src='assets/img/twitter.svg', alt="twitter")
		a(href='').social__item
			img(src='assets/img/facebook.svg', alt="facebook")
		a(href='').social__item
			img(src='assets/img/inst.svg', alt="inst")