include /project/common.blocks/ui_kit/logotype/logotype.pug

include /pages/common/head/head.pug

<!DOCTYPE html>
html(lang='ru')
	+head('UI_Цвета')
	body
		.wrapper
			.container_ui
				+logotype('ui')
				main.main
					.container_ui__color-type
						.content
							.content__row
								.content__column
									.content__item.item-color
										.item-color__figure
										.item-color__text
											p.item-color__title Dark Shade 100%
											p.item-color__hex #1F2041
									.content__item.item-color
										.item-color__figure
										.item-color__text
											p.item-color__title Dark Shade 75%
											p.item-color__hex #1F2041
									.content__item.item-color
										.item-color__figure
										.item-color__text
											p.item-color__title Dark Shade 50%
											p.item-color__hex #1F2041
									.content__item.item-color
										.item-color__figure
										.item-color__text
											p.item-color__title Dark Shade 25%
											p.item-color__hex #1F2041
									.content__item.item-color
										.item-color__figure
										.item-color__text
											p.item-color__title Dark Shade 5%
											p.item-color__hex #1F2041
									.content__item.item-color
										.item-color__figure
										.item-color__text
											p.item-color__title Purple
											p.item-color__hex #BC9CFF
									.content__item.item-color
										.item-color__figure
										.item-color__text
											p.item-color__title Green
											p.item-color__hex #6FCF97								
								.content__column
									.content__item.item-text
										.item-text__row
											p.item-text__cell.item-text__mark H1
											h1.item-text__cell.item-text__descr This one is the sub-section or widget title
									
										.item-text__row
											p.item-text__cell.item-text__mark H2
											h2.item-text__cell.item-text__descr Next one is the item title inside widgets
									
										.item-text__row
											p.item-text__cell.item-text__mark H3
											h3.item-text__cell.item-text__descr This is a label or CTA text
									
										.item-text__row
											p.item-text__cell.item-text__mark Body
											p.item-text__cell.item-text__descr This is the body text which is used for most of the design, like paragraphs, lists, etc.
