//================================= color&type ==============================
@import "~/pages/ui/_ui_common/ui_common.scss";

.main {
	flex: 1 1 auto;
}

.content {
	&__row {
		display: flex;
		margin: 0 -215px;
		justify-content: space-between;
		@media (max-width: 1300px) {
			margin: 0 -100px;
		}
		@media (max-width: 1000px) {
			margin: 0 -30px;
		}
		@media (max-width: 750px) {
			margin: 0;
			flex-direction: column;
		}
	}
	&__column {
		padding: 0 215px;

		&:first-child {
			flex: 0 0 auto;
			@media (max-width: 750px) {
				padding: 0;
				margin: 0 0 30px 0;
			}
		}
		&:last-child {
			padding: 0 245px 0 215px;
			display: flex;
			flex-direction: column;
			@media (max-width: 1300px) {
				padding: 0 100px;
			}
			@media (max-width: 1000px) {
				padding: 0 30px;
			}
			@media (max-width: 750px) {
				padding: 0;
			}
		}
		@media (max-width: 1300px) {
			padding: 0 100px;
		}
		@media (max-width: 1000px) {
			padding: 0 30px;
		}
		@media (max-width: 750px) {
			padding: 0;
		}
	}
}

.item-color {
	display: flex;
	align-items: center;
	margin: 0 0 20px 0;
	&__figure {
		display: block;
		width: 70px;
		height: 70px;
		border-radius: 6px;
		background-color: rgba(31, 32, 65, 1);
		margin: 0 40px 0 0;
	}
	&:nth-child(2) {
		.item-color__figure {
			background-color: rgba(31, 32, 65, 0.75);
		}
	}
	&:nth-child(3) {
		.item-color__figure {
			background-color: rgba(31, 32, 65, 0.5);
		}
	}
	&:nth-child(4) {
		.item-color__figure {
			background-color: rgba(31, 32, 65, 0.25);
		}
	}
	&:nth-child(5) {
		.item-color__figure {
			background-color: rgba(31, 32, 65, 0.05);
		}
	}
	&:nth-child(6) {
		.item-color__figure {
			background-color: #bc9cff;
		}
	}
	&:nth-child(7) {
		.item-color__figure {
			background-color: #6fcf97;
		}
	}
	&__text {
		font-family: $fontFamily_2;
		font-style: normal;
		font-weight: 700;
		font-size: 19px;
		line-height: 29px;
	}
	&__title {
	}
	&__hex {
		font-weight: 400;
	}
}

.item-text {
	margin: 0 0 50px 0;
	display: table;
	&__cell {
		display: table-cell;
		padding: 0 0 50px 0;
		@media (max-width: 750px) {
			padding: 0 0 20px 0;
		}
	}
	&__descr {
		font-family: $fontFamily_1;
		font-style: normal;
		font-weight: 700;
		font-size: 1.714rem;
		line-height: 1.25em;
		word-wrap: break-word;
		color: #1f2041;
	}
	&__mark {
		padding: 0 30px 0 0;
		font-family: $fontFamily_1;
		font-size: 1.714rem;
		line-height: 1.25em;
		margin: 0 30px 0 0;
		color: rgba(31, 32, 65, 0.25);
		text-align: end;
	}
	&__row {
		display: table-row;
		&:nth-child(1),
		&:nth-child(2) {
			.item-text__descr {
				font-family: $fontFamily_2;
			}
		}
		&:nth-child(2) {
			.item-text__descr {
				font-size: 1.357rem;
				line-height: 1.263em;
			}
			.item-text__mark {
				font-size: 1.357rem;
				line-height: 1.263em;
			}
		}
		&:nth-child(3) {
			.item-text__descr {
				font-weight: 700;
				font-size: 0.857rem;
				line-height: 1.25em;
				text-transform: uppercase;
			}
			.item-text__mark {
				font-size: 0.857rem;
				line-height: 1.25em;
			}
		}
		&:nth-child(4) {
			.item-text__descr {
				font-weight: 400;
				font-size: 1rem;
				line-height: 1.714em;
			}
			.item-text__mark {
				font-size: 1rem;
				line-height: 1.714em;
			}
		}
	}
}
