include checkbox-toggle.pug

.text-field_less
	.label
		.label__title Toggle
	.checkbox-list
		+checkbox-toggle("recieve_smth", "Получать спецпредложения")
		+checkbox-toggle("recieve_smth_1", "Получать спецпредложения")

