
include ../logo_UI/logo_UI.pug
include footer/footer.pug
include header/header.pug

<!DOCTYPE html>
html(lang='ru')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
		title Document
	body
	main.ui-headersfooters
		.container_ui
			+logo('ui')
		.container_ui__headerfooter
			.ui-headersfooters__item
				+header()
			.ui-headersfooters__item
				+header('logged')
