//=========================HEADERS_FOOTERS====================================
.ui-headersfooters {
	background: #f4f4f6;
	&__item {
		margin: 0 0 38px 0;
	}
}

.container_ui__headerfooter {
	margin: 40px auto 0 auto;
}
