// Font
$mainFont: "Montserrat", Helvetica, Arial, sans-serif;
//Переменные>==========================================================================================================================================
// Size
$minwidth: 320px;

$FontColorLight: #c7c7cf;
$mainFontColor: #8f90a0;
$secondaryFontColor: #bc9cff;
$thirdFontColor: #575871;
$mainFontSize: 14px;
$mainFontWeight: 400;
$mainLineHeight: 1;

$desktopWidth: 1280px;
$smDesktopWidth: 980px;
$tableWidth: 768px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;

// Main color
/*
$default-color: #ffffff;
$primary-color: #444ce0;
$success-color: #26de81;
$danger-color: #fc5c65;
$warning-color: #fed330;
$light-color: #999999;
$purple-color: #8854d0;
*/

//Gradients
$mainGradient: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
$secondaryGradient: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);

// Neutral Color
$neutral-primary: #303133;
$neutral-regular: #606266;
$neutral-secondary: #909399;
$neutral-placeholder: #c0c4cc;

// Border Color
$border-base: #c7c7cf;
$border-active: #8f90a0;
$border-shadow: rgba(31, 32, 65, 0.05);
$border-lightex: #f2f6fc;
