//=========================CHECKBOX-SQUARE ====================================
@import "~/project/common.blocks/_common/vars.scss";

.checkbox-square {
	font-size: 14px;
	line-height: 18px;
	color: $mainFontColor;
	margin: 0 0 10px 0;
	&__square {
		width: 20px;
		height: 20px;
		flex-shrink: 0;
		flex-grow: 0;
		border: 1px solid $border-base;
		border-radius: 4px;
		margin: 0 0.7em 0 0;
		cursor: pointer;
		@include transition;
		position: relative;
		&:before {
			content: "";
			position: absolute;
			height: 100%;
			width: 100%;
			display: block;
			top: 0;
			left: 0;
			background-repeat: no-repeat;
			background-position: center 40%;
			transform: scale(0);
			@include transition;
			//background-size: 50% 50%;
			background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.46439 4.40768L5.70703 8.65032L4.29282 10.0645L0.0501771 5.82189L1.46439 4.40768Z' fill='url(%23paint0_linear)'/%3E%3Cpath d='M8.53546 2.99347L9.94967 4.40768L4.29282 10.0645L2.8786 8.65032L8.53546 2.99347Z' fill='url(%23paint1_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='7.82835' y1='2.28636' x2='2.1715' y2='7.94321' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23BC9CFF'/%3E%3Cstop offset='1' stop-color='%238BA4F9'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear' x1='7.82835' y1='2.28636' x2='2.1715' y2='7.94321' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23BC9CFF'/%3E%3Cstop offset='1' stop-color='%238BA4F9'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
		}
	}
	&__input {
		position: absolute;
		z-index: -1;
		opacity: 0;
		+ label {
			user-select: none;
			display: flex;
			align-items: center;
		}

		&:checked + label .checkbox-square__square {
			border-color: $secondaryFontColor;
			&::before {
				transform: scale(1);
			}
		}
		/* стили при наведении курсора на checkbox */
		&:not(:disabled):not(:checked) + label .checkbox-square__square:hover::before {
			//border-color: #b3d7ff;
		}
		/* стили для активного состояния чекбокса (при нажатии на него) */
		&:not(:disabled):active + label .checkbox-square__square::before {
			//border-color: #b3d7ff;
		}
		/* стили для чекбокса, находящегося в фокусе */
		&:focus + label .checkbox-square__square::before {
			//box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
		}
		/* стили для чекбокса, находящегося в фокусе и находящегося в состоянии checked */
		&:checked:focus + label .checkbox-square__square::before {
			//	border-color: #80bdff;
		}
		/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
		&:focus:not(:checked) + label .checkbox-square__square::before {
			//	border-color: #80bdff;
		}
		/* анимация рамки при нажатии */
		&:focus + label .checkbox-square__square {
			animation-name: bounce_1;
			animation-duration: 250ms;
			animation-iteration-count: 1;
			animation-timing-function: linear;
		}
		/* стили для чекбокса, находящегося в состоянии disabled */
		&:disabled + label .checkbox-square__square::before {
			background-color: #e9ecef;
			pointer-events: none;
		}
	}
}

@keyframes bounce_1 {
	0% {
		transform: scale(1);
	}
	33% {
		transform: scale(0.9);
	}
	66% {
		transform: scale(1.1);
	}
	100% {
		tranform: scale(1);
	}
}
