include checkbox.pug

.label
	.label__title Checkbox Buttons
.checkbox-list
	.option-item
		+checkbox-shape("smoke", "Можно курить")
	.option-item
		+checkbox-shape("with-pets", "Можно с питомцами")
	.option-item
		+checkbox-shape("allow-to-invite-guests", "Можно пригласить гостей (до 10 человек)")

