//================================= Form_elements ==============================

.container_ui {
	&-form-elements {
		max-width: 1160px;
		margin: 66px auto 0 auto;
	}
}

.form-elements {
	&__row {
		display: flex;
		margin: 0 -63px;
	}
	&__column {
		padding: 0 63px;
		flex: 0 1 33.333%;
	}
	&__item {
		margin: 0 0 20px 0;
	}
}

.label {
	display: flex;
	justify-content: space-between;
	font-family: "Montserrat";
	font-size: 12px;
	line-height: 15px;
	text-transform: uppercase;
	margin: 0 0 5px 0;
	&__title {
		font-weight: 700;
		color: #1f2041;
	}
	&__descr {
		color: rgba(31, 32, 65, 0.5);
		font-weight: 400;
	}
}

.text-field__input {
	background: #ffffff;
	border: 1px solid rgba(31, 32, 65, 0.25);
	border-radius: 4px;
	width: 320px;
	padding: 12px 13px 12px 15px;

	font-family: "Montserrat";
	font-size: 14px;
	line-height: 14px;
	color: rgba(31, 32, 65, 0.75);
	/*
		&[placeholder] {
			font-family: "Montserrat";
			font-size: 14px;
			line-height: 18px;
			color: rgba(31, 32, 65, 0.25);
		}
*/
	&::-webkit-input-placeholder {
		font-family: "Montserrat";
		font-size: 14px;
		line-height: 18px;
		color: rgba(31, 32, 65, 0.25);

		opacity: 1;
		transition: opacity 0.3s ease;
	}
	&::-moz-placeholder {
		font-family: "Montserrat";
		font-size: 14px;
		line-height: 18px;
		color: rgba(31, 32, 65, 0.25);

		opacity: 1;
		transition: opacity 0.3s ease;
	}
	&:-moz-placeholder {
		font-family: "Montserrat";
		font-size: 14px;
		line-height: 18px;
		color: rgba(31, 32, 65, 0.25);

		opacity: 1;
		transition: opacity 0.3s ease;
	}
	&:-ms-input-placeholder {
		font-family: "Montserrat";
		font-size: 14px;
		line-height: 18px;
		color: rgba(31, 32, 65, 0.25);

		opacity: 1;
		transition: opacity 0.3s ease;
	}
	&:focus,
	&:hover {
		border: 1px solid rgba(31, 32, 65, 0.5);
		&::-webkit-input-placeholder {
			opacity: 0;
		}
		&::-moz-placeholder {
			opacity: 0;
		}
		&:-moz-placeholder {
			opacity: 0;
		}
		&:-ms-input-placeholder {
			opacity: 0;
		}
	}
}
