@import "~/project/common.blocks/_common/vars.scss";

.review {
	color: $fontColor_1-2;
	display: table;
	&__row {
		display: table-row;
	}
	&__column {
		display: table-cell;
		vertical-align: middle;
		padding: 0 10px 12px 0;
		@media (max-width: 450px) {
			padding: 0 8px 4px 0;
		}
		&_b {
			vertical-align: top;
			padding: 0;
		}
	}
	&__cell {
	}
	&__info {
	}
	&__photo {
	}
	&__img {
		border-radius: 50%;
		width: 48px;
		height: 48px;
		min-width: 48px;
		box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.1);
	}
	&__name {
		font-weight: 700;
		margin: 0 0 10px 0;
	}
	&__text {
		font-size: 1rem;
		line-height: 1.714em;
	}
	&__like {
		padding-left: 5px;
	}
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 0 20px 0;
		@media (max-width: 450px) {
			margin: 0 0 10px 0;
		}
	}
	&__counter {
		font-family: $mainFont;
		font-size: 14px;
		color: $fontColor_1-0;
		white-space: nowrap;
	}
	&__item:not(:last-child) {
		margin: 0 0 25px 0;
		@media (max-width: 450px) {
			margin: 0 0 10px 0;
		}
	}
}
