include ../../form_elements/buttons/button.pug
include ../../form_elements/option-buttons/radio/radio-btn.pug
include ../../form_elements/option-buttons/checkbox/checkbox-toggle/checkbox-toggle.pug
include ../../form_elements/text-field/text-field.pug


.card
	.card__container
		h2.card__title Регистрация аккаунта
		form(action='#' method='post').registry-form
			.registry-form__user.registry-form__user-name
				+inputs('user-name', 'text', '', '', 'Имя', '')
			.registry-form__user.registry-form__user-lastname
				+inputs('user-lastname', 'text', '', '', 'Фамилия', '')
			.registry-form__user.registry-form__user-gender
				.registry-form__user-male
					+radio-btn('gender_m','gender','Мужчина')
				.registry-form__user-female
					+radio-btn('gender_f','gender','Женщина')
			.registry-form__user.registry-form__user-birthday
				+inputDate('birthday', 'дата рождения', '', 'ДД.ММ.ГГГГ', '')
			.registry-form__user.registry-form__user-email
				+inputs('user-email', 'email', 'данные для входа в сервис', '', 'Email', '')
			.registry-form__user.registry-form__user-password
				+inputs('user-password', 'password', '', '', 'Пароль', '')
			.registry-form__user.registry-form__user-adv
				+checkbox-toggle('adv', 'Получать спецпредложения')
			.registry-form__user.registry-form__button_create
				+button('создать','#','submit','button_wide')
			.registry-form__button-row
				.registry-form__exist Уже есть аккаунт на Toxin
				.registry-form__button_enter
					+button('войти','#','','button_border')