//================================= TEXT-FIELD ==============================

.label {
	display: flex;
	justify-content: space-between;
	font-family: $fontFamily_1;
	font-size: 12px;
	line-height: 15px;
	text-transform: uppercase;
	margin: 0 0 5px 0;
	&__title {
		font-weight: 700;
		color: $fontColor_1-3;
	}
	&__descr {
		color: $fontColor_1-0;
		font-weight: 400;
	}
}

.text-field {
	&__wrapper {
		position: relative;
		&.active {
			z-index: 5;
		}
	}
	&__icon-subscribe {
		position: absolute;
		cursor: pointer;
		height: 100%;
		width: 40px;
		right: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		/*
		&.active {
			&:before {
				transform: translate(-4.5px, -50%) rotate(-45deg);
			}
			&:after {
				transform: translate(4.5px, -50%) rotate(45deg);
			}
		}
		*/
	}
	&__input {
		white-space: nowrap; /* Отменяем перенос текста */
		overflow: hidden; /* Обрезаем содержимое */
		text-overflow: ellipsis; /* Многоточие */
		@include transition;
		background: #ffffff;
		border: 1px solid $borderColor_1-1;
		border-radius: 4px;

		width: 100%;
		height: 44px;
		padding: 12px 20% 12px 15px;

		font-family: $fontFamily_1;
		font-size: 14px;
		line-height: 16px;
		color: $fontColor_1-2;

		/*
		&[placeholder] {
			font-family: $fontFamily_1;
			font-size: 14px;
			line-height: 18px;
			color: $fontColor_1-1;
		}
*/
		&::-webkit-input-placeholder {
			font-family: $fontFamily_1;
			font-size: 14px;
			line-height: 18px;
			color: $fontColor_1-1;

			opacity: 1;
			@include transition;
		}
		&::-moz-placeholder {
			font-family: $fontFamily_1;
			font-size: 14px;
			line-height: 18px;
			color: $fontColor_1-1;

			opacity: 1;
			@include transition;
		}
		&:-moz-placeholder {
			font-family: $fontFamily_1;
			font-size: 14px;
			line-height: 18px;
			color: $fontColor_1-1;

			opacity: 1;
			@include transition;
		}
		&:-ms-input-placeholder {
			font-family: $fontFamily_1;
			font-size: 14px;
			line-height: 18px;
			color: $fontColor_1-1;

			opacity: 1;
			@include transition;
		}
		&:focus,
		&:hover {
			white-space: normal; /* Обычный перенос текста */
			border: 1px solid $borderColor_1-0;
			&::-webkit-input-placeholder {
				opacity: 0;
			}
			&::-moz-placeholder {
				opacity: 0;
			}
			&:-moz-placeholder {
				opacity: 0;
			}
			&:-ms-input-placeholder {
				opacity: 0;
			}
		}
	}
}
