include ../checkbox/checkbox.pug

.spoiler.text-field_less
	.spoiler__title.label
		.label__title expandable checkbox list
		.dropdawn-icon
	.spoiler__content.checkbox-list
		+checkbox-shape("breakfast", "Завтрак")
		+checkbox-shape("work-table", "Письменный стол")
		+checkbox-shape("chair-to-feed", "Стул для кормления")
		+checkbox-shape("bed-mini", "Кроватка")
		+checkbox-shape("TV", "Телевизор")
		+checkbox-shape("shampoo", "Шампунь")

