include ../checkbox-square/checkbox-square.pug

.spoiler.text-field_less
	.spoiler__title.label
		.label__title expandable checkbox list
		.dropdawn-icon
	.spoiler__content
		+checkbox-square("breakfast", "Завтрак")
		+checkbox-square("work-table", "Письменный стол")
		+checkbox-square("chair-to-feed", "Стул для кормления")
		+checkbox-square("bed-mini", "Кроватка")
		+checkbox-square("TV", "Телевизор")
		+checkbox-square("shampoo", "Шампунь")

