.checkbox-square
	.label
		.label__title label
		.label__descr
	.checkbox-square__container
		input.checkbox-square__input(type="checkbox" id="breakfast" name="breakfast" value="yes")
		label(for="breakfast") 
			.checkbox-square__square
			| Завтрак


