.checkbox-square
	.label
		.label__title label
		.label__descr
	input.checkbox-square__input(type="checkbox" id="breakfast" name="breakfast" value="yes")
	.checkbox-square__container
		.checkbox-square__square
		label.checkbox-square__label(for="breakfast") Завтрак

