mixin spoiler(label)
	.spoiler
		.spoiler__title.label
			.label__title=label
			.dropdawn-icon
		.spoiler__content
			.option-item
			+checkbox-shape("breakfast", "Завтрак")
			.option-item
			+checkbox-shape("work-table", "Письменный стол")
			.option-item
			+checkbox-shape("chair-to-feed", "Стул для кормления")
			.option-item
			+checkbox-shape("bed-mini", "Кроватка")
			.option-item
			+checkbox-shape("TV", "Телевизор")
			.option-item
			+checkbox-shape("shampoo", "Шампунь")

mixin spoiler2(label)
	.spoiler.active
		.spoiler__title.label.active
			.label__title=label
			.dropdawn-icon.active
		.spoiler__content.active
			.option-item
				+checkbox-shape("breakfast1", "Завтрак")
			.option-item
				+checkbox-shape("work-table1", "Письменный стол")
			.option-item
				+checkbox-shape("chair-to-feed1", "Стул для кормления")
			.option-item
				+checkbox-shape("bed-mini1", "Кроватка")
			.option-item
				+checkbox-shape("TV1", "Телевизор")
			.option-item
				+checkbox-shape("shampoo1", "Шампунь")