include ../../form_elements/buttons/button.pug

.card
	.card__container
		.entrance
			h2.entrance__header.card__title Войти
			.entrance__form
				form(action='#' method='post').registry-form
					.registry-form__user.registry-form__user-email
						+inputs('user-email', 'email', '', '', 'Email', '')
					.registry-form__user.registry-form__user-password
						+inputs('user-password', 'password', '', '', 'Пароль', '')
					.registry-form__user.registry-form__button_create
						.card-button
							+button('войти','#','submit','button_wide')
					.registry-form__button-row
						.registry-form__exist Нет аккаунтана Toxin?
						.registry-form__button_enter
							.card-button
								+button('создать','#','','button_border')