include /pages/common/head/head.pug

<!DOCTYPE html>
html(lang='ru')
	+head('Личный кабинет')
	body
		.wrapper
			include /pages/common/header/header.pug
			main.main
				.main__bg.ibg
					img(src="assets/img/regBG.jpg", alt="")
					.container.container_registr
						.login-block
							.login-block__registration.login-block__form.tab(data-name="registration").active
								include /project/common.blocks/ui_kit/cards/registry-form/registry-form.pug
							.login-block__entrance.login-block__form.tab(data-name="enter")
								include /project/common.blocks/ui_kit/cards/entrance-form/entrance-form.pug
			include /pages/common/footer/footer.pug






