

<!DOCTYPE html>
html(lang='ru')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
		title Document
	body
		.wrapper
			include /pages/common/header/header.pug
			main.main
				.main__bg.ibg
					img(src="assets/img/regBG.jpg", alt="")
					.container.container_registr
						.login-block
							.login-block__registration.login-block__form.active
								include /project/common.blocks/ui_kit/cards/registry-form/registry-form.pug
							.login-block__entrance.login-block__form
								include /project/common.blocks/ui_kit/cards/entrance-form/entrance-form.pug
			include /pages/common/footer/footer.pug


