//=========================DROPDAWN====================================
$light: #fff;
$border-radius: 3px;
$border-color: #ccc;
$padding: 10px;

.text-field {
	&__input {
		&_dropDawn {
			cursor: pointer;
			position: relative;
			&.active {
				border-bottom-right-radius: 0;
				border-bottom-left-radius: 0;
				border-color: #8f90a0;
			}
		}
	}
}

.dropdawn-field {
	user-select: none;
	opacity: 0;
	visibility: hidden;
	@include transition;
	border-bottom: 1px solid #8f90a0;
	border-right: 1px solid #8f90a0;
	border-left: 1px solid #8f90a0;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	padding: 5px 7px 13px 15px;
	position: absolute;
	width: 100%;
	background-color: white;

	font-weight: 700;
	font-size: 12px;
	line-height: 15px;

	text-transform: uppercase;

	&.active {
		opacity: 1;
		visibility: visible;
		z-index: 35;
	}
	&__row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0 0 7px 0;
		&:last-child {
			margin: 0 0 20px 0;
		}
		&_buttons {
			display: flex;
			align-items: center;
			justify-content: space-between;

			font-weight: 700;
			font-size: 12px;
			line-height: 15px;
			text-transform: uppercase;
		}
	}
	&__subject {
		color: $fontColor_1-3;
		font-family: "Montserrat";
		font-weight: 700;
		font-size: 12px;
		line-height: 15px;
	}
	&__clear {
		color: rgba(31, 32, 65, 0.5);
		cursor: pointer;
		visibility: hidden;
		opacity: 0;
		@include transition;
		&.active {
			visibility: visible;
			opacity: 1;
		}
		&:hover {
			animation-name: bounce_2;
			animation-duration: 500ms;
			animation-iteration-count: infinite;
			animation-timing-function: linear;
		}
	}
	&__accept {
		color: $fontColor_2-0;
		cursor: pointer;
		&:hover {
			animation-name: bounce_2;
			animation-duration: 500ms;
			animation-iteration-count: infinite;
			animation-timing-function: linear;
		}
	}
}
/*
.dropdawn-icon {
	position: absolute;
	cursor: pointer;
	height: 100%;
	width: 40px;
	right: 0;
	&:after {
		content: "";
		@include transition;
		display: block;
		position: absolute;
		right: 17.25px;
		top: 50%;
		transform: translateY(-50%) rotate(45deg);
		width: 8px;
		height: 2px;
		background-color: $fontColor_1-0;
		z-index: 1;
	}
	&:before {
		content: "";
		@include transition;
		display: block;
		position: absolute;
		right: 12.75px;
		top: 50%;
		transform: translateY(-50%) rotate(-45deg);
		width: 8px;
		height: 2px;
		background-color: $fontColor_1-0;
		z-index: 1;
	}
	&.active {
		&:before {
			transform: translate(-4.5px, -50%) rotate(-45deg);
		}
		&:after {
			transform: translate(4.5px, -50%) rotate(45deg);
		}
	}
}
*/

.dropdawn-icon {
	position: absolute;
	cursor: pointer;
	right: 0;
	top: 50%;
	&:after {
		content: "";
		@include transition;
		display: block;
		position: absolute;
		right: 4.5px;
		transform: rotate(45deg);
		width: 8px;
		height: 2px;
		background-color: $fontColor_1-0;
		z-index: 1;
	}
	&:before {
		content: "";
		@include transition;
		display: block;
		position: absolute;
		right: 0px;
		transform: rotate(-45deg);
		width: 8px;
		height: 2px;
		background-color: $fontColor_1-0;
		z-index: 1;
	}
	&.active {
		&:before {
			transform: translate(-4.5px, -50%) rotate(-45deg);
		}
		&:after {
			transform: translate(4.5px, -50%) rotate(45deg);
		}
	}
}

.counter {
	display: flex;
	align-items: center;
	&__cnt {
		margin: 0 5px;
		width: 20px;
		text-align: center;
	}
	&__btn {
		width: 30px;
		height: 30px;
		border-radius: 50%;
		border: 1px solid #c7c7cf;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		opacity: 0.25;
		pointer-events: none;
		&_active {
			pointer-events: auto;
			opacity: 1;
		}
		&:after {
			content: "";
			display: block;
			width: 4.8px;
			height: 1px;
			background-color: #c7c7cf;
		}
	}
	&__plus {
		position: relative;
		&:before {
			position: absolute;
			content: "";
			display: block;
			width: 1px;
			height: 4.8px;
			background-color: #c7c7cf;
		}
	}
}

@keyframes bounce_2 {
	0% {
		transform: scale(1);
	}
	33% {
		transform: scale(0.95);
	}
	66% {
		transform: scale(1.05);
	}
	100% {
		tranform: scale(1);
	}
}
