.container_landing {
	position: relative;
	height: 100%;
}
.container_registr {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
}
.container {
	max-width: 1200px;
	padding: 0 20px;
	margin: 0 auto;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.ibg {
	img {
		display: none;
	}
}
