include /pages/common/head/head.pug

<!DOCTYPE html>
html(lang='ru')
	+head('Чувствуйте себя как дома!')
	body
		.wrapper
			include /pages/common/header/header.pug
			main.main
				.main__bg.ibg
					img(src='assets/img/landing.jpg',alt='landing.jpg')
					.container.container_landing
						.main__wrapper
							.main__content
								.find-room
									include /project/common.blocks/ui_kit/cards/find-room/find-room.pug
							.main__footer
								.main__text Лучшие номера для вашей работы, отдыха и просто вдохновения
			include /pages/common/footer/footer.pug


