//=======================MAIN-LANDING==================

@import "~/main/main.scss";
@import "~/pages/common/common/common.scss";



.main {
	flex: 1 1 auto;

	&__bg {
		background: url("/assets/img/landing.jpg");
		background-repeat: no-repeat;

		background-position: center top;
		padding: 69px 0 20px 0;
		height: 830px;
	}
	&__text {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 260px;
		font-family: $mainFont;
		font-size: 1rem;
		line-height: 1.8rem;
		text-align: right;
		color: $fontColor_1-2;
	}
}

.find-room {
	width: 380px;
}

