

<!DOCTYPE html>
html(lang='ru')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
		title Document
	body
		.wrapper
			include /pages/common/header/header.pug
			main.main
				.main__bg
					.container.container_landing
						.find-room
							include /project/common.blocks/ui_kit/cards/find-room/find-room.pug
						.main__text Лучшие номера для вашей работы, отдыха и просто вдохновения
			include /pages/common/footer/footer.pug


