/*===================HEADER-SUBMENU============================================*/

.submenu-header {
	&__body {
		min-width: 250px;
		max-width: 300px;
		font-family: $fontFamily_1;
		box-shadow: 0 17px 24px rgba(0, 0, 0, 0.14);
		background-color: #f8f8f8;
		padding: 0 10px;
		@media (max-width: 1024px) {
			max-width: 100%;
			width: auto;
		}
		@media (max-width: 420px) {
		}
	}
	&__row {
		@media (max-width: 1024px) {
		}
		@media (max-width: 500px) {
		}
	}
	&__title {
		color: $fontColor_1-2;
		font-weight: 700;
		font-size: 12px;
		line-height: 1.5em;
		text-transform: uppercase;
		margin: 0 0 18px 0;
	}
	&__list {
	}
	&__item {
		transition: 0.2s all ease;
		color: $fontColor_1-0;
		&:not(:last-child) {
			border-bottom: 1px solid $borderColor_1-1;
		}

		&:hover {
			font-weight: 700;
			text-shadow: 3px 3px 3px;
		}
		@media (max-width: 420px) {
			margin: 0 0 15px 0;
		}
	}
	&__link {
		display: block;
		color: $fontColor_1-0;
		padding: 10px 10px;
		cursor: pointer;
	}
}
