include /project/common.blocks/ui_kit/form_elements/bullet-list/bullet-list.pug

mixin submenu(list)
	.submenu-header
		.submenu-header__body
			.submenu-header__row
				.submenu-header__column
					+bullet-list('bullet list',list,'true')

