include ../../../form_elements/bullet-list/bullet-list.pug
mixin submenu()
	.submenu-header
		.submenu-header__body
			.submenu-header__row
				.submenu-header__column
					+bullet-list('bullet list',['Wake up','Massage','Excursions'],'true')

