<!-- include ../project/common.blocks/ui_kit/form_elements/form_elements.pug -->
include ../project/common.blocks/ui_kit/form_elements/form_elements.pug

<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Document
	body
	main.form-elements
		include ../project/common.blocks/ui_kit/logo_UI/logo_UI.pug
			.container_ui-form-elements
				.form-elements__row
					.form-elements__column
						.form-elements__item
							+inputs("text-field", "email", "Text Field", "", "Email", "DEFAULT")
						.form-elements__item
							+inputs("text-field", "email", "Text Field", "This is pretty awesome", "Email", "Hover / Focus")
						.form-elements__item
							+inputs("text-field", "email", "Text Field", "", "Email", "DEFAULT")
						.form-elements__item
							include ../project/common.blocks/ui_kit/form_elements/dropdawn/dropdawn.pug
				.form-elements__row

			
				
