<!-- include ../project/common.blocks/ui_kit/form_elements/form_elements.pug -->

<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Document
	body
	main.main
		include ../project/common.blocks/ui_kit/logo_UI/logo_UI.pug
			.container_ui-content
			
				
