<!-- include ../project/common.blocks/ui_kit/form_elements/form_elements.pug -->
include ../project/common.blocks/ui_kit/form_elements/form_elements.pug

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Document
	body
	main.form-elements
		include ../project/common.blocks/ui_kit/logo_UI/logo_UI.pug
			.container_ui-form-elements
				.form-elements__row
					.form-elements__column.form-elements__column_a
						.form-elements__item
							+inputs("text-field", "email", "Text Field", "", "Email", "DEFAULT")
						.form-elements__item
							+inputs("text-field2", "text", "Text Field", "This is pretty awesome", "Email", "Hover / Focus")
						.form-elements__item.form-elements__item_DropdawnGuests
							+inputDropdawnGuests("Dropdown","Сколько гостей","DEFAULT")
						.form-elements__item.form-elements__item_Date
							+inputDate("date-field", "masked text field", "", "ДД.ММ.ГГГГ", "DEFAULT")
						.form-elements__item.form-elements__item_Date
							+inputDropdawnDate-mini("date2","date3","date Dropdown", "date Dropdown", "ДД.ММ.ГГГГ")
						.form-elements__item.form-elements__item_Date
							+inputDropdawnDate-maxi("date4","filter date dropdown")
						.form-elements__item
							+subscribe("email_sub","Email","subscription text field")
					.form-elements__column
						.form-elements__item.form-elements__item_checkbox
							include ../project/common.blocks/ui_kit/form_elements/checkbox/checkbox-example.pug
						.form-elements__item.form-elements__item_radioBtn
							include ../project/common.blocks/ui_kit/form_elements/checkbox/radio/radio-btn/radio-btn-example.pug
						.form-elements__item.form-elements__item_checkboxToggle
							include ../project/common.blocks/ui_kit/form_elements/checkbox/checkbox-toggle/checkbox-toggle-example.pug
						.form-elements__item.form-elements__item_checkboxLike
							include ../project/common.blocks/ui_kit/form_elements/checkbox/checkbox-like/checkbox-like-example.pug
						.form-elements__item.form-elements__item_stars
							include ../project/common.blocks/ui_kit/form_elements/stars/stars-example.pug
					.form-elements__column
						.form-elements__item
							+rangeSlider()
						.form-elements__item
							include ../project/common.blocks/ui_kit/form_elements/buttons/button-example.pug
						.form-elements__item
							include ../project/common.blocks/ui_kit/form_elements/pagination/pagination.pug
				.form-elements__row_2
					.form-elements__column_2.form-elements__column_2-a
						.form-elements__item
							+inputDropdawnEquip("Dropdown","Параметры номера","DEFAULT")
						.form-elements__item
							+inputDropdawnEquipActive("Dropdown","Параметры номера","EXPANDED")
					.form-elements__column_2
						.form-elements__item
							+inputDropdawnGuestsActive("Dropdown","Сколько гостей","")
					.form-elements__column_2
						.form-elements__item
							+inputDropdawnGuestsActive("Dropdown","Сколько гостей","",2,1,0)
				.form-elements__row_2.form-elements__row_2-a
					.form-elements__column_2.form-elements__column_2-a
						.form-elements__item.form-elements__item_spoiler
								include ../project/common.blocks/ui_kit/form_elements/spoiler/spoiler-example.pug
					.form-elements__column_2
						.form-elements__item
								include ../project/common.blocks/ui_kit/form_elements/checkbox/checkbox-rich/checkbox-rich-example.pug
					.form-elements__column_2
						.form-elements__item.form-elements__item_bulletList
								include ../project/common.blocks/ui_kit/form_elements/bullet-list/bullet-list.pug
				.form-elements__row_3
					.form-elements__column_2.form-elements__column_3.form-elements__column_2-a
						.form-elements__item.form-elements__item_advantages
								include ../project/common.blocks/ui_kit/form_elements/advantages/advantages.pug
					.form-elements__column_2.form-elements__column_3.form-elements__column_2-b
						.form-elements__item.form-elements__item_review
								include ../project/common.blocks/ui_kit/form_elements/review/review.pug
