<!-- include ../project/common.blocks/ui_kit/form_elements/form_elements.pug -->
include ../project/common.blocks/ui_kit/form_elements/form_elements.pug

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Document
	body
	main.form-elements
		include ../project/common.blocks/ui_kit/logo_UI/logo_UI.pug
			.container_ui-form-elements
				.form-elements__row
					.form-elements__column
						.form-elements__item
							+inputs("text-field", "email", "Text Field", "", "Email", "DEFAULT")
						.form-elements__item
							+inputs("text-field2", "text", "Text Field", "This is pretty awesome", "Email", "Hover / Focus")
						.form-elements__item
							+inputDropdawnGuests("Dropdown","Сколько гостей","DEFAULT")
						.form-elements__item
							+inputDate("date-field", "masked text field", "", "ДД.ММ.ГГГГ", "DEFAULT")
						.form-elements__item
							+rangeSlider()
						.form-elements__item
							+inputDropdawnDate-mini("date2","date3","date Dropdown", "date Dropdown", "ДД.ММ.ГГГГ")
						.form-elements__item
							+inputDropdawnDate-maxi("date4","filter date dropdown")
						.form-elements__item
							+subscribe("email_sub","Email","subscription text field")
						.form-elements__item
							+inputDropdawnEquip("Dropdown","Параметры номера","DEFAULT")
						.form-elements__item
							include ../project/common.blocks/ui_kit/form_elements/spoiler/spoiler.pug
					.form-elements__column
						.form-elements__item
							include ../project/common.blocks/ui_kit/form_elements/checkbox/checkbox-example.pug
						.form-elements__item
							include ../project/common.blocks/ui_kit/form_elements/checkbox/radio/radio-btn/radio-btn-example.pug
						.form-elements__item
							include ../project/common.blocks/ui_kit/form_elements/checkbox/radio/radio-toggle/checkbox-toggle-example.pug