//=========================CHECKBOX-shape ====================================
@import "~/project/common.blocks/_common/vars.scss";

.radio-list {
	display: flex;
	&__item {
		margin: 0 20px 0 0;
	}
}

.radio-btn {
	&__shape {
		border-radius: 50%;
	}
	&__inside {
		display: flex;
		justify-content: center;
		align-items: center;
		&:before {
			top: auto;
			left: auto;
			border-radius: 50%;
			background-position: center center;
			background: $mainGradient;
		}
	}
}
