include checkbox-square.pug

.text-field_less
	.label
		.label__title Radio Buttons
	.radio-list
		+checkbox-square("smoke", "Можно курить")
		+checkbox-square("with-pets", "Можно с питомцами")
		+checkbox-square("allow-to-invite-guests", "Можно пригласить гостей (до 10 человек)")

