//================================= Form_elements ==============================

@import "~/pages/ui/_ui_common/ui_common.scss";

.form-elements {
	flex:1 1 auto;
	&__row {
		display: flex;
		margin: 0 -60px;
		&_2 {
			display: flex;
			margin: 80px -35px 154px -35px;
			&-a {
				margin: 80px -35px 0 -35px;
			}
		}
		&_3 {
			display: flex;
			margin: 60px -40px 0 -40px;
		}
	}
	&__column {
		padding: 0 60px;
		flex: 0 1 32.5%;
		&_a {
			flex: 0 1 35%;
		}
		&_b {
			flex: 0 1 30.5%;
		}
		&_c {
			flex: 0 1 34.5%;
		}
		&_2 {
			flex: 0 1 31.85%;
			padding: 0 35px;
			&-a {
				flex: 0 1 36.3%;
			}
			&-b {
				flex: 0 1 64.7%;
			}
		}
		&_3 {
			padding: 0 40px;
		}
	}
	&__item {
		margin: 0 0 20px 0;
		max-width: 320px;
		&_DropdawnGuests {
			margin: 0 0 23px 0;
		}
		&_Date {
			margin: 0 0 41px 0;
		}
		&_small {
			max-width: 266px;
		}
		&_checkbox {
			margin: 0 0 44px 0;
			max-width: 230px;
		}
		&_radioBtn {
			margin: 0 0 40px 0;
		}
		&_checkboxToggle {
			margin: 0 0 43px 0;
		}
		&_checkboxLike {
			margin: 0 0 40px 0;
		}
		&_bulletList {
			width: 264px;
		}
		&_advantages {
			max-width: 270px;
		}
		&_stars {
			max-width: 260px;
		}
		&_spoiler {
			max-width: 260px;
			margin: 0 0 47px 0;
		}
		&_RangeSlider {
			margin: 0 0 43px 0;
		}
		&_buttons {
			margin: 0 0 28px 0;
		}
	}
}

.item-formElement {
	&__row {
		display: flex;
		align-items: flex-end;
		margin: 0 -10px;
	}
	&__column {
		padding: 0 10px;
		flex: 0 1 50%;
	}
}
