include checkbox-like.pug

.text-field_less
	.label
		.label__title like button
	.checkbox-list.checkbox-list_like
		.checkbox-list_like__item
			+checkbox('id','like')
		.checkbox-list_like__item
			+checkbox('id2','toggle')

