mixin checkbox-shape(id, labelName)
	.checkbox-shape
		input.checkbox-shape__input(type="checkbox" id=id name=id value="yes")
		label(for=id) 
			.checkbox-shape__shape.option-shape
				.checkbox-shape__inside
			.checkbox-shape__text
				span=labelName


