include /project/common.blocks/ui_kit/headers-footers/header/header.pug


-
	var headerMenu = [
		{text: 'О нас', link:'#',submenu:''}, 
		{text: 'Услуги', link:'#',submenu:['Консьерж','Будильник','Завтрак','Гид и экскурсии']}, 
		{text: 'Вакансии', link:'#',submenu:''},
		{text: 'Новости', link:'#',submenu:''},
		{text: 'Соглашения', link:'#',submenu:['Правила','Спонсорство и инвестиции','Лицензии']}
	]
- var headerLoginButton = [{text: 'войти', link:'registration.html#enter',type:'', mode:'button_border'}]
- var headerRegButton =[{text: 'зарегистрироваться', link:'registration.html#registration',type:'',mode:'button'}]
+header('unlogged', headerMenu, headerLoginButton,headerRegButton)