mixin bullet-list(title='bullet list',list,links='false')
	.bullet-list
		.label
			.label__title=title
		ul.bullet-list__list.checkbox-list
			if links==='false'
				each item in list
					li.bullet-list__item=item
			else
				each item in list
					li.bullet-list__item
						a(href='#').bullet-list__link=item