@import "~/project/common.blocks/_common/vars.scss";

.advantages {
	&__item {
		display: flex;
		align-items: center;
		padding: 0 0 24px 5px;
		@media (max-width: 650px) {
			padding: 0 0 14px 5px;
		}
	}
	&__item:not(:last-child) {
		border-bottom: 1px solid rgba(31, 32, 65, 0.1);
		margin: 0 0 25px 0;
		@media (max-width: 650px) {
			margin: 0 0 15px 0;
		}
	}
	&__pic {
		margin: 0 12px 0 0;
		width: 40px;
	}
	&__text {
		color: $fontColor_1-2;
		font-size: 14px;
	}
	&__title {
		font-weight: 700;
		margin: 0 0 10px 0;
	}
	&__header {
		margin: 0 0 25px 0;
		@media (max-width: 450px) {
			margin: 0 0 10px 0;
		}
	}
}

.label_advantages {
	margin: 0 0 25px 0;
}
