include ../../form_elements/dropdawn/dropdawn.pug
include ../../form_elements/datepicker/datepicker.pug
include ../../form_elements/buttons/button.pug
include ../common-blocks/card-info/card-info.pug


.card
	.card__container
		h2.card__title Найдём номера под ваши пожелания
		.card__info
			-
				var inCome={
					id:'datepicker1',
					label:'прибытие',
					placeholder:'ДД.ММ.ГГГГ',
					value:'',
					range:'true',
					dateFormat:'dd.mm.yyyy',
					descr:''
					}
			-
				var outCome={
					id:inCome.id,
					label:'выезд',
					placeholder:'ДД.ММ.ГГГГ',
					value:'',
					range:'true',
					dateFormat:'dd.mm.yyyy',
					descr:''
					}
			-
				var ddGuests={
					id:'1',
					label:'гости',
					placeholder:'Сколько гостей',
					descr:''
					}
			+card-info(inCome,outCome,ddGuests)
		.card__button
			.card-button
				+button('подобрать номер','#','','button_wide')
