//=========================CHECKBOX-toggle ====================================
@import "~/project/common.blocks/_common/vars.scss";

.button-list {
	padding: 10px 0;
}
.button-row {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px 15px -10px;
}
.button-column {
	padding: 0 10px;
	&_b {
		width: 100%;
	}
}
.button {
	position: relative;
	display: inline-block;
	font-family: $mainFont;
	font-weight: 700;
	font-size: 12px;
	line-height: 1em;
	padding: 1em 1.5em;
	background: $mainGradient;
	color: #fff;
	border-radius: 1.6em;
	text-transform: uppercase;
	@include transition;
	&:hover {
		opacity: 0.5;
	}
}
