include button.pug

.label
	.label__title buttons
.button-list
	.button-row
		.button-column
			+button('CLICK ME','#','','button')
		.button-column
			+button('CLICK ME','#','','button')
	.button-row
		.button-column
			+button('CLICK ME','#','','button_border')
		.button-column
			+button('CLICK ME','#','','button_border')
	.button-row.button-row_s
		.button-column.button-column_s
			+button('CLICK ME','#','','button_simple')
		.button-column.button-column_s
			+button('CLICK ME','#','','button_simple')
	.button-row.button-row_b
		.button-column.button-column_b
			+button('перейти к оплате','#','submit','button_wide')