//=========================BUTTON====================================
@import "~/project/common.blocks/_common/vars.scss";

.button {
	position: relative;
	display: inline-block;
	font-family: $mainFont;
	font-weight: 700;
	font-size: 12px;
	line-height: 1em;
	padding: 1.3em 1.6em;
	background: $mainGradient;
	color: #fff;
	border-radius: 2em;
	text-transform: uppercase;
	@include transition;
	&:hover {
		opacity: 0.5;
	}
}
