//=========================CHECKBOX-toggle ====================================
@import "~/project/common.blocks/_common/vars.scss";

$border: 2px;

.button_border {
	padding: calc(1em - 2px) calc(1.5em - 2px);
	color: $secondaryFontColor;
	background: #fff;
	background-clip: padding-box; /* !importanté */
	border: solid $border transparent; /* !importanté */
	position: relative;
	&:after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
		margin: -$border;
		border-radius: inherit;
		background: $mainGradient;
		@include transition;
	}

	&:hover {
		opacity: 1;
	}
	&:hover:after {
		opacity: 0.5;
	}
}
