include /project/common.blocks/ui_kit/logotype/logo_UI/logo_UI.pug

mixin logotype(style='')
	if style==='ui'
		a.logotype(href='index.html')
			.logotype__img
				+logo('ui')
	else
		a.logotype(href='index.html')
			.logotype__img
				+logo('header')
			h1.logotype__title
				+toxin()