//=======================MAIN-LANDING==================
@import "~/main/main.scss";
@import "~/pages/common/common/common.scss";

.main {
	background: #fff;
	flex: 1 1 auto;
	//box-shadow: inset 0px 31px 31px -34px rgba(31, 32, 65, 0.1);
	border-bottom: 1px solid $borderColor_1-1;
}

.content {
	padding: 71px 0 64px 0;
	@media (max-width: 500px) {
		padding: 30px 0 30px 0;
	}
}
.room-photo {
	max-width: 1460px;
	padding: 0 10px;
	margin: 0 auto;
	&__row {
		display: flex;
	}
	&__column {
		&_b {
			flex: 1 1 68%;
		}
		&_s {
			flex: 1 1 32%;
		}
	}
	&__item {
		&_big {
			padding: 49.3% 0 0 0;
			//background-image: url("/assets/img/888big.jpg");
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
		}
		&_top {
			//background: url("/assets/img/888_2.jpg");
			height: 50%;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
		}
		&_bottom {
			//background: url("/assets/img/888_3.jpg");
			height: 50%;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
		}
	}
}

.content {
	&__row {
		display: flex;
		justify-content: space-between;
		@media (max-width: 1100px) {
			flex-direction: column;
		}
	}
	&__column {
		&_info {
			flex: 0 1 62%;
		}
		&_bill {
			flex: 0 1 380px;
			width: 100%;
			@media (max-width: 1100px) {
				display: flex;
				justify-content: center;
				margin: 10px 0 0 0;
			}
		}
	}
}
.bill-block {
	width: 380px;
}

.info-content {
	&__row {
		display: flex;
		margin: 0 0 12px 0;
		justify-content: space-between;
		@media (max-width: 475px) {
			flex-direction: column;
		}
	}
	&__column {
		flex: 0 1 50%;
		&_advantages {
			margin: 0 30px 0 0;
			max-width: 280px;
			@media (max-width: 475px) {
				margin: 0 0 35px 0;
			}
		}
		&_impression {
			@media (max-width: 475px) {
				margin: 0 0 35px 0;
			}
		}
	}
	&__reviews {
		margin: 0 0 35px 0;
	}
	&__how {
	}
}

.how-to {
	display: flex;
	&__column {
		flex: 1 1 50%;
	}
	&__rules {
		margin: 0 100px 0 0;
		max-width: 260px;
		@media (max-width: 450px) {
			margin: 0 20px 0 0;
		}
	}
}

.cancel-about {
	&__title {
		margin: 0 0 19px 0;
		@media (max-width: 450px) {
			margin: 0 0 10px 0;
		}
	}
	&__text {
		font-family: $mainFont;
		font-size: 1rem;
		line-height: 1.71em;
		color: $fontColor_1-2;
	}
}

.impression {
	&__title {
		margin: 0 0 20px 0;
		@media (max-width: 450px) {
			margin: 0 0 10px 0;
		}
	}
	&__canvas {
		max-width: 300px;
		@media (max-width: 650px) {
			display: flex;
			justify-content: center;
		}
		@media (max-width: 475px) {
			justify-content: flex-start;
		}
	}
}
