//=========================OPTION-BUTTONS-COMMON ====================================
.option-shape {
	@include transition;
	cursor: pointer;
}
.option-item {
	margin: 0 0 10px 0;
}

.checkbox-shape__input:focus + label .option-shape {
	animation-name: bounce_1;
	animation-duration: 250ms;
	animation-iteration-count: 1;
	animation-timing-function: linear;
}

@keyframes bounce_1 {
	0% {
		transform: scale(1);
	}
	33% {
		transform: scale(0.9);
	}
	66% {
		transform: scale(1.1);
	}
	100% {
		tranform: scale(1);
	}
}
