mixin room-header(number='111',spec='люкс',cost='9 990₽ ')
	.room-header
		.room-header__room
			span.room-header__n № 
			span.room-header__number=number 
			span.room-header__spec=spec
		.room-header__price
			span.room-header__cost=cost
			span.room-header__per в сутки
