include radio-btn.pug

.text-field_less
	.label
		.label__title Radio Buttons
	.radio-list
		+radio-btn("gender1","gender", "Мужчина","Мужчина")
		+radio-btn("gender2","gender", "Женщина","Женщина")

