mixin checkbox-like(id)
	.checkbox-shape.checkbox-shape_like
		input.checkbox-shape__input(type="checkbox" id=id name=id value="yes")
		label(for=id) 
			.checkbox-shape__shape.checkbox-shape__shape_toggle.checkbox-shape__shape_like
				.checkbox-shape__inside.checkbox-shape__inside_like
				span.checkbox-shape__inside_likeCnt 12


