mixin checkbox-like(id)
	.checkbox-shape.checkbox-shape_like
		input.checkbox-shape__input(type="checkbox" id=id name=id value="yes")
		label(for=id) 
			.option-shape
				.checkbox-shape__shape_like
					.inside-like
						.inside-like__icon
						span.inside-like__cnt 12


