//================================= CARDS ==============================
@import "~/pages/ui/_ui_common/ui_common.scss";

.ui-cards {
	flex: 1 1 auto;
	background:#F4F4F6;
	&__row {
		display: flex;
		margin: 0 -20px;
	}
	&__column {
		padding: 0 20px;
		flex: 0 1 420px;
		&_s {
			flex: 0 1 360px;
		}
	}
	&__item {
		margin: 0 0 40px 0;
	}
}
