mixin card-info(inCome,outCome,ddGuests)
	.info
		.info__in-out
			+inputDatePicker_pseudo(inCome,outCome)
		.info__guests
			+inputDropdawnGuests(ddGuests.id,ddGuests.label, ddGuests.placeholder, ddGuests.descr)