mixin card-info(id1='datepicker1',id2='datepicker2',id3='1',label1='прибытие',label2='выезд',label3='гости',placeholder1='ДД.ММ.ГГГГ',placeholder2='ДД.ММ.ГГГГ',placeholder3='Сколько гостей',value1='',value2='',range1='false',range2='false',dateFormat1= 'dd.mm.yyyy',dateFormat2= 'dd.mm.yyyy',descr1='',descr2='',descr3='')
	.info
		.info__in-out
			.in-out
				.in-out__row
					.in-out__column
						+inputDatePicker(id1, label1, placeholder1,value1, range1, dateFormat1,descr1)
					.in-out__column
						+inputDatePicker(id2, label2, placeholder2,value2, range2, dateFormat2,descr2)
		.info__guests
			+inputDropdawnGuests(id3,label3, placeholder3, descr3)