include checkbox-rich.pug

.text-field_less
	.label
		.label__title rich Checkbox Buttons
	.checkbox-list
		.option-item
			+checkbox-shape_rich("wide", "Ширина коридоров в номере не менее 91 см.",'Широкий коридор')
		.option-item
			+checkbox-shape_rich("special", "На 1 этаже вас встретит специалист  и проводит до номера.",'Помощник для инвалидов')

